[submodule "spikesorters/npy-matlab"]
	path = spikesorters/npy-matlab
	url = https://github.com/kwikteam/npy-matlab.git
[submodule "spikesorters/Kilosort2"]
	path = spikesorters/Kilosort2
	url = https://github.com/MouseLand/Kilosort2.git
[submodule "spikesorters/Kilosort"]
	path = spikesorters/Kilosort
	url = https://github.com/MouseLand/Kilosort
